body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    background-color: black;
}
.box{
    /* border: 2px solid blue; */
    width: 20vw;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0 0.2rem 3rem rgba(255, 255, 255, 0.2);
    background-color: #7889fa;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.info{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#Weathercon{
    /* border: 2px solid blue; */
    width: 20vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#size{
    font-size: 80px;
}
.location{
    /* border: 2px solid blue; */
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
#date{
    /* border: 2px solid blue; */
    text-align: center;
    margin-top: -19px;
}
.temp{
    /* border: 2px solid blue; */
    text-align: center;
    font-size: 32px;
    font-weight: bolder;    
}
.tempmin_max{
    /* border: 2px solid blue; */
    text-align: center;
    margin-top: -19px;
    font-weight: lighter;
}
.wave{
    /* border: 2px solid blue; */
    position: absolute;
    top: 48%;
    left: -84%;
    width: 50rem;
    height: 60rem;
    border-radius: 50%;
    background: whitesmoke;
    z-index: -1;
    opacity: 0.2;
}
.one{
   animation: rotation 3s infinite;
   height: 47rem; 
   opacity: 0.3;
}
.two{
    height: 45.5rem;
    animation: rotation 4s infinite;
    opacity: 0.2;
}
.three{
    height: 43rem;
    animation: rotation 3s infinite;
    opacity: 0.3;
}
@keyframes rotation{
    100% {transform: rotate(360deg)}
}

@keyframes zoomout {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}
.effect{
    font-size: 5rem;
    animation: zoomout 3s linear infinite alternate;
}

@media(max-width : 1281px) {
    .box{
        width: 30vw;
    }
    .wave{
        left: -68%;
    }
    #Weathercon{
        width: 30vw;
    }
}
@media(max-width : 969px) {
    .box{
        width: 40vw;
    }
    .wave{
        left: -68%;
    }
    #Weathercon{
        width: 40vw;
    }
}
@media(max-width : 762px) {
    .box{
        /* border: 2px solid blue; */
        width: 45vw;
    }
    .wave{
        /* border: 2px solid blue; */
        left: -72%;
    }
    #Weathercon{
        width: 45vw;
    }
}
@media(max-width : 650px) {
    .box{
        width: 50vw;
    }
    .wave{
        /* border: 2px solid blue; */
        left: -82%;
    }
    #Weathercon{
        width: 50vw;
    }
}
@media(max-width : 500px) {
    .box{
        width: 60vw;
        height: 50vh;
    }
    .wave{
        top: 44%;
        left: -114%;
    }
    #Weathercon{
        width: 60vw;
        height: 20vh;
    }
    .location{
        font-size: 30px;
    }
    .temp{
        font-size: 28px;    
    }
    #size{
        font-size: 50px;
    }
}
@media (max-width:390px) {
    #date{
        font-size: 15px;
    }
    .tempmin_max{
        font-size: 15px;
    }
    .wave{
        top: 41%;
        left: -156%;
    }
}